* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff;
}

.border-wrapper {
  border: 5px solid #110f0f;
  margin: 10px;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.username-btn {
  background-color: #c9f1ff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh; /* Fits viewport */
  padding: 0 40px;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 36px;
  color: #000;
  line-height: 1.4;
}

.highlight {
  color: #00bfff;
}

.hero-left p {
  color: #555;
  margin-top: 20px;
  line-height: 1.6;
  font-size: 15px;
}

.main-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #00bfff;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

/* Right Side Image */
.hero-right img {
  width: 280px;
  height: auto;
}
